@import '../variables.less';

.sidebar {
    display: flex;
    flex-direction: column;
    max-width: 290px;

    padding-top: 10px;
    padding-bottom: @big-spacing;
    margin-bottom: 0px;
    min-height: 100%;
    background-color: @primary-tint-3;
    border-right: solid 1px @primary-tint-2;

    .header {
        display: flex;
        flex: 0 0 auto;

        margin: 0;
        padding: @big-spacing 0 @big-spacing @big-spacing;

        color: @primary-tint-2;

        h3 {
            font-size: 16px;
            font-weight: @bold-font-weight;

            width: 100%;
            margin: 0;
        }

        .glyphicon {
            cursor: pointer;
            padding-right: @big-spacing;
        }

    }

    .list {
        line-height: 1.5;

        .glyphicon {
            margin-right: @small-spacing;
        }
    }

    .main {
        flex: 1 1;
        margin-bottom: @small-spacing;
    }

    .footer {
        font-weight: @bold-font-weight;
        padding-left: @big-spacing;
    }

    .SplitPane {
        .Resizer {
            background-color: @primary-tint-3;
        }

        .Pane1 {
            padding-left: @big-spacing;
        }
    }

    &.collapsed {
        .header > h3,
        .main,
        .footer {
            display: none;
        }
    }
}
